@use "../utils" as u;

.btn-main {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  max-width: clamp(7.5rem, 6.69vw + 5.409rem, 13.438rem);
  height: clamp(2.188rem, 2.113vw + 1.527rem, 4.063rem);
  width: 100%;
  color: u.$secondary-color;
  text-decoration: none;
  background-image: url(../images/btn-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-family: "Denominary";
  font-size: clamp(1rem, 0.845vw + 0.736rem, 1.75rem);
  letter-spacing: clamp(0.031rem, 0.07vw + 0.009rem, 0.094rem);

  font-weight: 700;
  @include u.breakpoint-max(medium) {
    font-weight: 500;
  }
}

.coming-soon {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: hwb(0 0% 100% / 0.75);
  backdrop-filter: blur(16px);
  z-index: 99999;

  &.show {
    display: flex;
  }

  .content {
    .main-inner {
      position: relative;
      max-width: u.rem(700);
      img.co {
        width: 100%;
      }
      button.close {
        height: 20px;
        width: 20px;
        position: absolute;
        top: -20px;
        right: -10px;
        background-image: url(../images/close.svg);
        background-color: transparent;
        border: none;
        background-size: contain;
        background-position: center;
        cursor: pointer;
      }
    }
  }
}
