@keyframes floating-down {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, 0px);
  }
}

@keyframes floating-up {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, -15px);
  }
  100% {
    transform: translate(0, 0px);
  }
}

@keyframes bounce {
  0% {
    animation-timing-function: ease-out;
    transform: translateY(0px);
  }

  50% {
    animation-timing-function: ease-out;
    transform: translateY(-20px);
  }
}
