@use "../utils" as u;

body {
  background-color: u.$primary-color;
  color: u.$white;
  position: relative;

  main {
    section {
      &.Home {
        min-height: 100vh;
        margin-top: u.rem(-100);
        video {
          width: 100%;
          height: auto;
        }
      }
      &.About {
        background-image: url("../images/about/about-bg.png");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;

        padding: u.rem(200) u.rem(20);
        min-height: 200vh;

        .about-container {
          //   max-width: u.rem(1060);
          //   width: 100%;
          //   margin: 0 auto;
          text-align: center;
          .main-title {
            margin-bottom: u.rem(100);
            h1 {
              font-size: u.rem(120);
              font-family: "Babas-Bold";
              letter-spacing: u.rem(6);
              line-height: u.rem(15);
              color: transparent;
              -webkit-text-stroke: u.rem(1) hsla(0, 0%, 44%, 0.5);
            }
            h2 {
              position: relative;
              font-size: u.rem(80);
              font-family: "Babas-Bold";
              letter-spacing: u.rem(4);
              line-height: u.rem(15);
              color: u.$secondary-color;
              margin-top: u.rem(10);
            }
          }
          p {
            font-size: u.rem(18);
            letter-spacing: u.rem(0.72);
            line-height: u.rem(32);
            font-family: "Montserrat";
            font-weight: 500;
          }
          p.desc {
            text-align: center;
            max-width: u.rem(992);
            width: 100%;
            margin: 0 auto;
            margin-bottom: u.rem(40);
          }
          p.status {
            margin-bottom: u.rem(55);
            span {
              color: u.$secondary-color;
            }
          }
          .category {
            max-width: u.rem(1080);
            width: 100%;
            margin: 0 auto;
            .web-container {
              .grid2x2 {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: 1fr;
                grid-column-gap: 80px;
                grid-row-gap: 80px;

                .category {
                  img {
                    width: 100%;
                    height: auto;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
